extend layout
block content
  h1 Welcome!
  p.
    Lorem ipsum dolor sit amet, jefeoiafoa  faoa ofaoano aofn aonfa aooeanaeojaf firfr rir ainra irnr aiar n
    oojoijoijoijiojojojiojoi kni kn kjno  ojnoo oioioo
  p.
    edeao eoiije aoiene frfr ra afao air fri frr ia rfra ra raf ar frafrafafraf
    rraf arfraf arfa frafra fra farfa fra
block sidebar
  .block
    h1 Right Sidebar
    p.
      S edon ojeao orir riai airarnjri ir ianai ainri ifaiin ai ai ie
    br.
    .readmore
      a(href="http://example.com") Read More
