extend layout
block content
  h1 Bienvenido!
  p.
    Bienvenido a la App Demo de Registro en Node.js. Esta app usa las siguientes herramientas:
  ul.featurelist
    li.
      Jade Template engine
    li.
      Stylus CSS Generator
    li.
      Nib
    li.
      MongoDB
    li.
      Monk
  div.userlistlink
    p.
      Para ver todos los usuarios registrados haga <a href="/userlist">click aquí</a>
block sidebar
  .block
    h1 Right Sidebar
    p.
      S edon ojeao orir riai airarnjri ir ianai ainri ifaiin ai ai ie
    br.
    .readmore
      a(href="http://example.com") Read More
