extend layout
block content
  h1 Bienvenido!
  p.
    Bienvenido a la App Demo de Registro en Node.js. Esta app usa las siguientes herramientas/módulos:
  ul.featurelist
    li.
      Express Framework
    li.
      Jade Template engine
    li.
      Stylus CSS Generator
    li.
      Nib
    li.
      MongoDB
    li.
      Monk
  div.userlistlink
    p.
      Para ver todos los usuarios registrados haga <a href="/userlist">click aquí</a>
      
